createdAt: "2019-11-11T09:27:07.407Z"
updatedAt: "2019-11-11T09:28:02.745Z"
type: "MARKDOWN_NOTE"
folder: "f06509997790a073e8c1"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
